.always-part{
    background-color: rgb(146, 235, 31);
    padding-top: 65px;
    padding-bottom: 65px;
}
.always-part img{
    width: 100%;

}
.always-text{
    margin-top: 100px;
    text-align: start;
}